<ion-item *ngIf="article" [routerLink]="'/article/' + article.id" [detail]="false" class="ion-padding-start">
  <ion-label class="ion-text-wrap">
    <div>
      <h2>
        {{ article.title }}
        <span class="date">
        <ion-note>{{ date.format(article.date)}}</ion-note>
        <ion-icon aria-hidden="true" name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
      </h2>
      <p>{{article.city}}</p>
      <p>{{article.description}}</p>
      <p class="article__price-tag">{{ article.price || 0 }}€</p>
    </div>

  </ion-label>
  <ion-img class="article__image" [src]="picImage" slot="end" *ngIf="picImage"></ion-img>
</ion-item>
