<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" default-href="/"></ion-back-button>
    <ion-title>
      Angebot inserieren
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="title" label="Titel" label-placement="stacked"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="price" label="Preis" type="number" label-placement="stacked"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="description" label="Beschreibung" label-placement="stacked"></ion-textarea>
    </ion-item>
    <input type="file" (change)="imageLoad()" accept="image/jpeg" #image/>

      <ion-button color="primary" expand="full" (click)="postArticle($event)">Erstellen</ion-button>
      <ion-button color="danger" expand="full" (click)="navCtrl.back()">Verwerfen</ion-button>
  </ion-list>
</ion-content>
