<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Angebote
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Angebote
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-article *ngFor="let message of messages" [article]="message"></app-article>
  </ion-list>
</ion-content>

<ion-fab horizontal="end" vertical="bottom">
  <ion-fab-button [routerLink]="['/add']" router-direction="forward">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
