<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrierung</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="username" label="Username" label-placement="stacked" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="phone" label="Telefonnummer" type="number" label-placement="stacked"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="city" label="Stadt" label-placement="stacked" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="zip" label="Postleitzahl" label-placement="stacked" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="street" label="Strasse" label-placement="stacked"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="housenr" label="Hausnummer" label-placement="stacked"></ion-textarea>
    </ion-item>
    <ion-button color="primary" expand="full" (click)="register()">Registrieren</ion-button>
  </ion-list>
</ion-content>
